.elements__like-btn {
  margin: 0 30px 0 0;
  width: 20px;
  height: 26px;
  background: #fff url(../../../images/like-btn.svg) no-repeat center / contain;
  box-sizing: border-box;
}

.elements__like-btn:hover {
  opacity: 0.5;
}

@media all and (max-width: 680px) {
  .elements__like-btn {
    margin: 0 20px 0 0;
  }
}
