.elements__item {
  display: grid;
  grid-template-rows: 282px 1fr;
  grid-template-columns: 1fr min-content;
  gap: 25px;
  max-width: 282px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 920px) {
  .elements__item {
    min-width: 282px;
  }
}
